@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helvatica Neue";
    src: url("../fonts/HelveticaNeue\ Light.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Helvatica Neue";
    src: url("../fonts/Helvetica\ Neu\ Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Helvatica Neue";
    src: url("../fonts/HelveticaNeue\ Medium.ttf");
    font-weight: 600;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
